:root {
    --color-green: #31c48d;
    --color-white: white;
    --color-dark-grey: #33333d;
    --color-medium-grey: #424250;
    --color-light-grey: #d2d6dc;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    margin: 0;
    background-color: var(--color-medium-grey);
    color: white;
    font-family:Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
  }
  